@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400,600&display=swap');

.rf-body {
    background-image: url('../img/bg_regis.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.rf-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 5.469vw 11.016vw;
}

.rf-content-text {
    display: flex;
    flex-direction: column;
}

.rf-content-text h4 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 3rem;
    color: white;
}

.rf-content-text h3 {
    font-family: 'Old Standrad TT';
    font-weight: 400;
    font-style: italic;
    font-size: 3.5rem;
    color: white;
}

.rf-content-form {
    width: 38.359vw;
    height: 45.313vw;
    background-color: white;
    border-radius: 1.875vw;
    padding: 2.5vw;
    gap: 0.938vw;
}

.rf-content-form p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.5rem;
    color: #1B1D22;
}

.rf-form {
    display: flex;
    flex-direction: column;
    height: 5.313vw;
    width: 100%;
    padding: 0.625vw 0;
    margin-bottom: 1.25vw;
    border-bottom: 0.078vw solid #3A3F4A;
}

.rf-form label {
    flex: 1;
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.875rem;
    color: #3A3F4A;
}

.rf-form input {
    flex: 1;
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #1B1D22;
    outline: none;
    box-shadow: none;
}

.rf-form input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #AFB4C0;
}

.rf-telephone {
    display: flex;
    flex-direction: row;
    width: 33.359vw;
    height: 5.313vw;
    padding: 0.625vw 0;
    gap: 1.25vw;
    margin-bottom: 1.25vw;
}

.code {
    display: flex;
    flex-direction: column;
    width: 9.375vw;
    height: 5.313vw;
    padding-right: 0.625vw;
    border-bottom: 0.078vw solid #3A3F4A;
    padding: 0.625vw 0;
}

.code label {
    flex: 1;
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.875rem;
    color: #3A3F4A;   
}

.code select {
    flex: 1;
    height: 24px;
    border: none;
    outline: none;
}

.code select {
    flex: 1;
    height: 1.875vw;
    border: none;
    outline: none;
}

.phone {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5.313vw;
    border-bottom: 0.078vw solid #3A3F4A;
    padding: 0.625vw 0;
}

.phone label {
    flex: 1;
    display: block;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 0.875rem;
    color: #3A3F4A;   
}

.phone input {
    flex: 1;
    border: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #1B1D22;
    outline: none;
    box-shadow: none;
}

.phone input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 1rem;
    color: #AFB4C0;
}

.rf-content-form form {
    width: 33.359vw;
    height: 35.625vw;
}

.rf-button {
    display: flex;
    justify-content: flex-end;
    width: 33.359vw;
    height: 3.75vw;
    margin-top: 3.75vw;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9.688vw;
    height: 3.75vw;
    padding: 0.938vw 1.875vw;
    border: 0.078vw solid #AFB4C0;
    border-radius: 7.813vw;
    background: transparent;
}

.btn p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.406vw;
    color: #AFB4C0;
}

.btn svg {
    width: 1.875vw;
    height: 1.875vw;
}

.rf-button a {
    text-decoration: none;
}